/* common */

.pretend {
  font-family: pretendard, sans-serif;
}

.suit {
  font-family: suit, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* local */

body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #faeedd;
  height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
}

.imgBox {
  width: 650px;
  gap: 25px;
}

.infoImgWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.infoImg {
  width: 460px;
  height: 372px;
  border-radius: 30px;
}

.qr {
  gap: 20px;
}

.qrWrapper {
  width: 140px;
  gap: 10px;
}

.qrImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 12px;
}

.qrImg {
  width: 130px;
  height: 130px;
}

.android {
  width: 94px;
}

.ios {
  width: 58px;
}

.homeBtn {
  font-size: 18px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 100%;
  padding: 220px 0 60px 0;
  background-color: white;
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.midText {
  font-family: suit, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}

.btnWrapper {
  display: flex;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
}

.btnText {
  font-family: suit, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.orderBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 130px;
  color: white;
  background-color: #8c150d;
  border-radius: 12px;
  gap: 16px;
}

.copyright {
  font-family: suit, sans-serif;
  font-size: 14px;
  color: rgb(136, 141, 145);
}
