html,
body {
  width: 100%;
  min-height: 100vh;
  /* overflow-y: auto; */
}

content {
  display: block;
  width: 100%;
  min-height: calc(100vh - 100px);
  font-family: suit, sans-serif;
}

.swiper {
  width: 100%;
  height: 500px;
  background-color: tomato;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 14px;
  left: 40px;
  width: 120px;
  height: 10px;
}

#pagination-box {
  position: absolute;
  bottom: 10%;
  left: 30%;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 70px;
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: black;
}

/* content */

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.menue-item.active {
  font-weight: bold;
  border: 2px solid black;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 300px;
}

.title-text {
  font-size: 38px;
  font-weight: 500;
}

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.stress-text {
  color: rgb(241, 141, 0);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 70px 0;
  background-color: #f7f7f7;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 70px;
}

.tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 44px;
  padding: 0 30px;
  border: 1px solid lightgray;
  border-radius: 50px;
  font-size: 16px;
  color: rgb(78, 82, 86);
}

.tab-btn.active {
  background-color: black;
  color: white;
}

.detail-img {
  display: none;
  width: 100%;
}

.detail-img.active {
  display: block;
}

.see-all-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.see-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: rgb(235, 234, 234);
  height: 50px;
  padding: 0 24px;

  border-radius: 50px;
  font-size: 16px;
}

.orange-title {
  font-size: 28px;
  font-weight: 600;
  color: rgb(241, 141, 0);
}

.youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
}

.group-review {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 70px 0;
  background-color: #faeedd;
}

.review-box-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.review-box {
  width: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.orange-desc {
  font-size: 16px;
  color: rgb(241, 141, 0);
}

.comment {
  font-size: 22px;
  font-weight: 600;
}

.talk-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 534px;
  padding: 26px 0;
  color: #4e5256;
  border-radius: 20px;
  background-color: white;
}

.talk-box::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.talk-box div:nth-child(1) {
  font-weight: 600;
  margin-bottom: 8px;
}

.div {
  width: 1px;
  height: 440px;
  background-color: lightgrey;
}

/* qna */

.qna {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 70px 0;
  background-color: #f7f7f7;
}

.plate-title {
  font-size: 28px;
  font-weight: 600;
}

.qna-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.qna-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  cursor: pointer;
}

.q-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.q {
  font-size: 28px;
  font-weight: 600;
  color: #bc4e4e;
}

.chevron {
  width: 10px;
  opacity: 0.5;
  transform: rotate(90deg);
}

.accordion-wrap {
  height: 0;
  overflow: hidden;
  padding: 0px 60px 0px 60px;
  transition: all 0.3s ease;
}

.accordion-wrap.active {
  height: auto;
  padding: 16px 60px 32px 60px;
  transition: all 0.3s ease;
}

/* siwonopa jinjja jalhanda. jinjja homepageinjul...!!! 
babo ddong ddokddokhae!!*/
